__pycache__/
*.py[cod]
*$py.class
*~
*.idea
/asd.py
.\#*
\#*

omas_doc.html

omas/data-dictionary
omas/Saxon*
omas/imas_structures/*/clean.html
omas/imas_structures/*/*.json

sphinx/build/
sphinx/source/data.rst
sphinx/source/code.rst
sphinx/source/usage.rst
sphinx/source/schema.rst
sphinx/source/schema/

docs/
dist/
omas.egg-info/

test.*
g133221*
*.pkl
scenario_summary.txt