__pycache__/
*.py[cod]
*$py.class
*~
*.idea
/asd.py
.\#*
\#*

omas_doc.html

omas/imas_structures/*/clean.html
omas/imas_structures/*/*.json

sphinx/build/
sphinx/source/data.rst
sphinx/source/code.rst
sphinx/source/schema/

docs/
dist/
omas.egg-info/

test*