__pycache__/
*.py[cod]
*$py.class
*~
*.idea
/asd.py
.\#*
\#*
build/
.DS_Store

omas_doc.html

omas/data-dictionary
omas/Saxon*
omas/imas_structures/*/*.html
omas/imas_structures/*/*.xml

sphinx/build/
sphinx/source/code/
sphinx/source/data.rst
sphinx/source/code.rst
sphinx/source/usage.rst
sphinx/source/scenarios.rst
sphinx/source/schema.rst
sphinx/source/schema/
sphinx/source/auto_examples/

docs/
dist/
omas.egg-info/

test.*
g133221*
*.pkl
scenario_summary.txt
omas_dump.txt

.coverage

