language: python

python:
    - "2.7"
    - "3.7"

install:
 - pip install .
 - pip install coverage codecov

dist: xenial # required for xvfb and Python 3.7

services:
  - xvfb #X Virtual Framebuffer

script:
 - coverage run -m unittest discover --pattern=*.py -s omas/tests

after_success:
 - codecov
