include omas/imas_structures/3.10.1/actuator.json
include omas/imas_structures/3.10.1/antennas.json
include omas/imas_structures/3.10.1/atomic_data.json
include omas/imas_structures/3.10.1/charge_exchange.json
include omas/imas_structures/3.10.1/controllers.json
include omas/imas_structures/3.10.1/core_instant_changes.json
include omas/imas_structures/3.10.1/core_profiles.json
include omas/imas_structures/3.10.1/core_sources.json
include omas/imas_structures/3.10.1/core_transport.json
include omas/imas_structures/3.10.1/dataset_description.json
include omas/imas_structures/3.10.1/distribution_sources.json
include omas/imas_structures/3.10.1/distributions.json
include omas/imas_structures/3.10.1/ece.json
include omas/imas_structures/3.10.1/edge_profiles.json
include omas/imas_structures/3.10.1/edge_sources.json
include omas/imas_structures/3.10.1/edge_transport.json
include omas/imas_structures/3.10.1/em_coupling.json
include omas/imas_structures/3.10.1/equilibrium.json
include omas/imas_structures/3.10.1/interfero_polarimeter.json
include omas/imas_structures/3.10.1/iron_core.json
include omas/imas_structures/3.10.1/magnetics.json
include omas/imas_structures/3.10.1/mhd_linear.json
include omas/imas_structures/3.10.1/nbi.json
include omas/imas_structures/3.10.1/ntms.json
include omas/imas_structures/3.10.1/pellets.json
include omas/imas_structures/3.10.1/pf_active.json
include omas/imas_structures/3.10.1/pf_passive.json
include omas/imas_structures/3.10.1/sawteeth.json
include omas/imas_structures/3.10.1/schedule.json
include omas/imas_structures/3.10.1/sdn.json
include omas/imas_structures/3.10.1/spectrometer_visible.json
include omas/imas_structures/3.10.1/temporary.json
include omas/imas_structures/3.10.1/tf.json
include omas/imas_structures/3.10.1/thomson_scattering.json
include omas/imas_structures/3.10.1/transport_solver_numerics.json
include omas/imas_structures/3.10.1/wall.json
include omas/imas_structures/3.10.1/waves.json
