name: Regression tests

on:
  push:
    branches: [ master ]

  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[skip github]')"
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: '3.8'

    - name: Install OMAS
      run: |
        python3 -m pip install .[machine]

    - name: Move to root and try importing OMAS
      run: |
        cd /
        python3 -c "import omas; print(omas.__version__)"

    - name: Run OMAS tests
      run: |
        make test
